/* Aboutus.css */

.about-us-body {
  margin: 0;
  padding: 0;
  background-image: url('./src/components/CarouselImage/p23.jpg'); 
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  background-position: center;
  font-family: 'Arial', sans-serif;
}

.about-us-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 100px;
  border: 1px solid #121212;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  background-color: #A9A9A9; /* Change to the ash color */
}

h1 {
  color: #000000;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #fefefe;
}
