/* Services.css */

.services-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(246, 246, 246);
    
  }
  
  h2 {
    color: #ffffff;
  }
  
  .services-description { /* This is the description of the services */
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: rgba(0, 255, 255, 0.853);
    text-shadow: #ffffff;
    
    
  }
  
  .services-list-container { /* This is the container of the services */
    text-align: left;
  }
  
  .services-list { /* This is the list of the services */
    list-style-type: none;
    padding: 0;
  }
  
  .services-list li { 
    font-size: 16px;
    margin-bottom: 10px;
    background-color: #fcfcfc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .services-list li:hover { /* This is the hover effect of the services */
    background-color: #7f7a7a;
  }
  
  /* Add additional styles as needed */
  .services-body {
    margin: 0;
    padding: 0;
    background-image: url('./src/components/CarouselImage/p22.jpg'); 
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    background-position: center;
    font-family: 'Arial', sans-serif;
  
  }
/* Services.css */

/* ... (previous styles) ... */

.selected-service {
  text-align: center;
  margin-top: 20px;
}

.back-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.back-button:hover {
  background-color: #0056b3;
}



/* ... (previous styles) ... */

.selected-service {
  text-align: center;
  margin-top: 20px;
}

.back-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.back-button:hover {
  background-color: #0056b3;
}

/* Add additional styles as needed */

h3{
  color: #000000;
  font-size: 16px;
}
